{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="page-header"> <h1> <b> Witamy na stronie biura podróży Rajski Ptak! </b></h1> </div>

<div class="paragraphs">
  <div class="row">
      <div class="col-md-7"><img src="static/hamak.jpg" class="img-responsive"> </div>
      <div class="col-md-5" style="text-align: center"><br><br><br><br></bt></b><h3>Biuro podróży <b><i>Rajski Ptak</i></b> to niewielka firma stworzona przez pasjonatów wycieczek i wypraw,
      która oferuje świetnie zorganizowane wyjazdy w wiele regionów świata.</h3></div>
  </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-5" style="text-align: center"><br> <br> <br> <br> <h3>Naszym celem jest zapewnienie Państwu wspaniałych przeżyć bez trosk i kłopotów często związanymi z dalekimi wyprawami.</h3></div>
        <div class="col-md-7"><img src="static/happy.jpeg" class="img-responsive"> </div>
    </div>
  </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-7"><img src="static/prepare.jpg" class="img-responsive"></div>
        <div class="col-md-5" style="text-align: center"><h3><br><br><br>Wszystkie przygotowane przez nas oferty są sporządzane z dużą starannością i dbałością o szczególy, aby zapewnić najwyższą jakość oferowanych przez nasz wycieczek.</h3></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-5" style="text-align: center"><br><br><br><h3>W naszej bazie znajdziecie Państwo zarówno wyjazdy wypoczynkowe z różnymi opcjami wyżywienia, jak i turystyczne, oparte na zwiedzaniu najpiękniejszych miejsc świata.</h3></div>
        <div class="col-md-7"><img src="static/greece.jpeg" class="img-responsive"> </div>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>


{% endblock %}