{% extends "base.html" %}

{% block page_content %}
<div class="page-header"><h3>Rezerwacja</h3></div>
<p><h4>W celu rezerwacji wybranej wycieczki prosimy o kliknięcie przycisku "Rezerwuj" przy wybranej ofercie. Zostaną Państwo przekierowani do strony z prośbą o uzupełnienie danych (lub zostaną one wprowadzone
automatycznie po zalogowaniu. Logowanie jest niezbędne w celu dokonania rezerwacji! Po zalogowaniu i zarezerwowaniu wycieczki dostaną Państwo od nas potwierdzenie w przeciągu 24 h. Po tym czasie skontaktujemy się z Państwem
w celu przekazania szczegółów dotycących dalszych kroków. W razie pytań zapraszamy do kontaktu, wszystkie dane lub formularz znajdą Państwo w zakładce: <a href="{{ url_for('kontakt') }}">Kontakt</a> </h4></p>
{% endblock %}